#version=RHEL8
# License agreement
eula --agreed
# Reboot after installation
reboot
# Use text mode install
text

repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

%post
yum update -y
yum -y install open-vm-tools
%end

%packages --excludedocs --ignoremissing
@^server-product-environment
kexec-tools
kexec-tools
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware

%end

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=link --activate
network  --hostname=localhost.localdomain

# Use CDROM installation media
cdrom

# System authorization information
auth --enableshadow --passalgo=sha512 --kickstart
# SELinux configuration
selinux --permissive

firstboot --disable
# Do not configure the X Window System
skipx
# System services
services --enabled="NetworkManager,sshd"

ignoredisk --only-use=sda
# System bootloader configuration
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=sda
autopart
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel

# System timezone
timezone UTC

# Root password
rootpw --plaintext Changeme123!

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
